#question_label { 
    font-weight: bold;
    font-size: 22px;
}

#answer_label {
    font-weight: 400;
    font-size: 16px;
}

#button0 {
    background-color: #8cd5ff;
}

#button1 {
    background-color: #fff394;
}

#button2 {
    background-color: #ff8c82;
}

#button3 {
    background-color: #d1ff82;
}

#button0_dark {
    background-color: #002e99;
}

#button1_dark {
    background-color: #ad5f00;
}

#button2_dark {
    background-color: #7a0000;
}

#button3_dark {
    background-color: #206b00;
}

#correct_answer {
    background-color: #d1ff82;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

#player_answer {
    background-color: #fafafa;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

#correct_answer_dark {
    background-color: #206b00;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

#player_answer_dark {
    background-color: #555761;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
}