[Desktop Entry]
Name=Trivia
GenericName=Trivia
Comment=A fun quiz game
Categories=Accessories;
Exec=com.github.malothebault.trivia
Icon=com.github.malothebault.trivia
Terminal=True
Type=Application
X-GNOME-Gettext-Domain=com.github.malothebault.trivia
Keywords=Game;Quiz,Trivia