[Desktop Entry]
Name=Trivia
GenericName=Trivia
Comment=An app trivia for elemenary os
Categories=Accessories;
Exec=com.github.malothebault.trivia
Icon=com.github.malothebault.trivia
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.malothebault.trivia
Keywords=Python;